
            <title>2D - Videos | PromoWorks</title>

<!-- start header section -->
<section class="no-padding wow fadeIn no-transition">
  <div class="opacity-extra-medium bg-black hidden-xs hidden-sm"></div>
        <video autoplay loop muted playsinline preload="metadata" src="/images/videos/2d/cafe.mp4" class="content" id="open_gif"></video>
          <div class="overlay-desc" style="background: rgba(0,0,0,0);  position: absolute;top: 0; right: 0px; bottom: 0; left: 0px;display: flex;align-items: center;justify-content: center;text-align: center;">
            <h2 class="text-white alt-font font-weight-300 width-40 md-width-60 center-col sm-width-70 xs-width-100 no-margin-bottom" style="position: absolute;top: 100px;">Tell your <strong>stories </strong> with <strong> awesome</strong> 2D Videos</h2>
          </div>
          <div class="down-section text-center hidden-xs hidden-sm">
              <a href="#about" class="inner-link"><i class="ti-arrow-down icon-medium text-deep-pink"></i></a>
          </div>

</section>

        <!-- End header section -->



        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Process Step</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- start process step item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center feature-box-10 xs-margin-20px-bottom wow fadeInUp last-paragraph-no-margin" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="display-inline-block padding-five-all margin-10px-bottom">
                            <span class="number alt-font border-width-2 border-all border-color-deep-pink border-radius-100 letter-spacing-minus-1 text-extra-dark-gray">01</span>
                        </div>
                        <div class="alt-font text-medium text-extra-dark-gray margin-10px-bottom">Path Specification</div>
                        <p class="width-75 sm-width-85 center-col">Process of animating one or more objects moving along a defined 2D path through the scene.</p>
                    </div>
                    <!-- end process step item -->
                    <!-- start process step item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center feature-box-10 xs-margin-20px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="display-inline-block padding-five-all margin-10px-bottom">
                            <span class="number number-center alt-font border-width-2 border-all border-color-deep-pink border-radius-100 letter-spacing-minus-1 text-extra-dark-gray">02</span>
                        </div>
                        <div class="alt-font text-medium text-extra-dark-gray margin-10px-bottom">Key Frames</div>
                        <p class="width-75 sm-width-85 center-col">Animation and filmmaking is a drawing that defines the starting and ending points of any smooth transition.</p>
                    </div>
                    <!-- end process step item -->
                    <!-- start process step item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center feature-box-10 wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="display-inline-block padding-five-all margin-10px-bottom">
                            <span class="number alt-font border-width-2 border-all border-color-deep-pink border-radius-100 letter-spacing-minus-1 text-extra-dark-gray">03</span>
                        </div>
                        <div class="alt-font text-medium text-extra-dark-gray margin-10px-bottom">In-Betweening</div>
                        <p class="width-75 sm-width-85 center-col">It is the process of generating intermediate frames between two images.</p>
                    </div>
                    <!-- end process step item -->
                </div>
            </div>
        </section>






        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Adroit</span>
                        </div>
                    </div>
                </div>    
            </div>
        </section>


<section class="parallax wow fadeIn" data-stellar-background-ratio="0.1" style="background-image: url(/images/videos/2d/adroit.png); background-position: 0px -5.08125px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <a href="/images/videos/2d/adroit.mp4" class="popup-vimeo"><img src="/images/videos/icon-play.png" class="width-30" alt="" data-no-retina=""></a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>

<!--
        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Adroit</span>
                        </div>
                    </div>
                </div>    
            </div>
        </section>

        


<section class="parallax wow fadeIn" data-stellar-background-ratio="0.1" style="background-image: url(/images/videos/2d/OMR.png); background-position: 0px -5.08125px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <a href="/images/videos/2d/OMR.mp4" class="popup-vimeo"><img src="/images/videos/icon-play.png" class="width-30" alt="" data-no-retina=""></a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>
-->

        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Forex</span>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        

        <!-- Start Video item -->

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.1" style="background-image: url(/images/videos/2d/Forex.png); background-position: 0px -5.08125px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <a href="/images/videos/2d/Forex.mp4" class="popup-vimeo"><img src="/images/videos/icon-play.png" class="width-30" alt="" data-no-retina=""></a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>



        <!-- end Video item -->

        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Mr.Pickup</span>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        
        <!-- Start Video item -->

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.1" style="background-image: url(/images/videos/2d/pickup.png); background-position: 0px -5.08125px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <a href="/images/videos/2d/Pickup.mp4" class="popup-vimeo"><img src="/images/videos/icon-play.png" class="width-30" alt="" data-no-retina=""></a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>



        <!-- end Video item -->


        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Connections</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 center-col text-center no-padding tab-style1" id="animated-tab2">
                        <!-- start tab navigation -->
                        <ul class="nav nav-tabs margin-50px-bottom xs-no-margin-bottom">
                            <li class="nav"><a href="#tab6_sec1" data-toggle="tab" class="xs-min-height-inherit xs-no-padding" aria-expanded="false"><span><i class="icon-chat icon-medium text-medium-gray margin-10px-bottom display-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">01. Concept and Storyboards</span></a></li>
                            <li class="nav"><a href="#tab6_sec2" data-toggle="tab" class="xs-min-height-inherit xs-no-padding" aria-expanded="false"><span><i class="icon-tools icon-medium text-medium-gray margin-10px-bottom display-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">02.  Compositing and Special VFX</span></a></li>
                            <li class="nav active"><a href="#tab6_sec3" data-toggle="tab" class="xs-min-height-inherit xs-no-padding" aria-expanded="true"><span><i class="icon-megaphone icon-medium text-medium-gray margin-10px-bottom display-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">03. Music and Foley</span></a></li>
                            <li class="nav"><a href="#tab6_sec4" data-toggle="tab" class="xs-min-height-inherit xs-no-padding" aria-expanded="false"><span><i class="icon-heart icon-medium text-medium-gray margin-10px-bottom display-block"></i></span><span class="alt-font text-medium-gray text-uppercase text-small">04. Happy Client</span></a></li>
                        </ul>
                        <!-- end tab navigation -->
                        <!-- start tab content -->
                        <div class="tab-content">
                            <!-- start tab content -->
                            <div id="tab6_sec1" class="center-col tab-pane fade">
                                <div class="tab-pane fade in">
                                    <div class="equalize sm-equalize-auto">
                                        <div class="col-md-4 col-sm-12 col-xs-12 text-left sm-margin-30px-bottom" style="height: 0px;">
                                            <img src="/images/videos/services-img6.jpg" alt="" data-no-retina="">
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 text-left sm-margin-30px-bottom" style="height: 0px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 border-all border-width-2 border-color-extra-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom display-block text-extra-dark-gray">01. Concept and Storyboards</span>
                                                    <span class="alt-font text-medium-gray text-medium">The very first step involved in a 3D production pipeline is the conceptualization of ideas and the creation of the storyboards that translate these ideas into visual form.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 text-left" style="height: 0px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 bg-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom display-inline-block text-medium">Don’t worry, you’re in safe hands</span>
                                                    <p>We give you best Outward.</p>
                                                    <a href="http://promo.works" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab6_sec2" class="center-col tab-pane fade">
                                <div class="tab-pane fade in">
                                    <div class="equalize sm-equalize-auto">
                                        <div class="col-md-4 text-left sm-margin-30px-bottom" style="height: 0px;">
                                            <img src="/images/videos/services-img6.jpg" alt="" data-no-retina="">
                                        </div>
                                        <div class="col-md-4 text-left sm-margin-30px-bottom" style="height: 0px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 border-all border-width-2 border-color-extra-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom display-block text-extra-dark-gray">02. Compositing and Special VFX</span>
                                                    <span class="alt-font text-medium-gray text-medium">This is where the final renders are brought into compositing programs to edit, touch-up and add on special effects.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-left" style="height: 0px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 bg-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom display-inline-block text-medium">Don’t worry, you’re in safe hands</span>
                                                    <p>We give you best Outward.</p>
                                                    <a href="http://promo.works" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab6_sec3" class="center-col tab-pane fade active in">
                                <div class="tab-pane fade in">
                                    <div class="equalize sm-equalize-auto">
                                        <div class="col-md-4 text-left sm-margin-30px-bottom" style="height: 260px;">
                                            <img src="/images/videos/services-img6.jpg" alt="" data-no-retina="">
                                        </div>
                                        <div class="col-md-4 text-left sm-margin-30px-bottom" style="height: 260px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 border-all border-width-2 border-color-extra-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom display-block text-extra-dark-gray">03. Music and Foley</span>
                                                    <span class="alt-font text-medium-gray text-medium">A music composer will create music soundtracks and accompaniment music to set the mood for the animation.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-left" style="height: 260px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 bg-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom display-inline-block text-medium">Don’t worry, you’re in safe hands</span>
                                                    <p>We give you best Outward.</p>
                                                    <a href="http://promo.works" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div id="tab6_sec4" class="center-col tab-pane fade">
                                <div class="tab-pane fade in">
                                    <div class="equalize sm-equalize-auto">
                                        <div class="col-md-4 text-left sm-margin-30px-bottom" style="height: 0px;">
                                            <img src="/images/videos/services-img6.jpg" alt="" data-no-retina="">
                                        </div>
                                        <div class="col-md-4 text-left sm-margin-30px-bottom" style="height: 0px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 border-all border-width-2 border-color-extra-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-medium font-weight-600 alt-font text-uppercase margin-10px-bottom display-block text-extra-dark-gray">04. Happy Client</span>
                                                    <span class="alt-font text-medium-gray text-medium">Quality is remembered long after the price is forgotten.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-left" style="height: 0px;">
                                            <div class="position-relative padding-45px-all sm-padding-30px-all height-100 width-100 bg-light-gray display-table">
                                                <div class="display-table-cell vertical-align-middle">
                                                    <span class="text-extra-dark-gray alt-font margin-10px-bottom display-inline-block text-medium">We believe in growth</span>
                                                    <p>We give you best Outward.</p>
                                                    <a href="http://promo.works" class="btn btn-dark-gray btn-very-small text-extra-small">About Company</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end tab content -->
                    </div>
                </div>
            </div>
        </section>





                <!-- Start Video item -->

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.1" style="background-image: url(/images/videos/2d/foodix.jpg); background-position: 0px -5.08125px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <a href="/images/videos/2d/foodix.mp4" class="popup-vimeo"><img src="/images/videos/icon-play.png" class="width-30" alt="" data-no-retina=""></a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>



        <!-- end Video item -->
