<!-- start slider section -->
     <title>Brochure  Designing | PromoWorks</title>
     <section class="no-padding full-screen hidden-xs" itemscope>
         <div class="swiper-container swiper-vertical-pagination swiper-container-vertical">
             <div class="swiper-wrapper">

                 <!-- start slide item -->
                 <div class="swiper-slide cover-background" style="background-image: url('/images/Branding/brochure/brochurefront.jpg')" itemscope>
                     <div class="full-screen width-100 position-relative">
                         <div class="slider-typography text-left">
                             <div class="slider-text-middle-main">
                                 <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr hidden-xs">
                                     <div class="swiper-bottom-content bg-deep-pink width-500px padding-80px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                                         <h4 class="xs-margin-5px-bottom"><a href="javascript:void(0);" class="font-weight-600 text-white alt-font text-white-hover">Brochure Design</a></h4>
                                         <span class="alt-font text-uppercase text-small text-extra-dark-gray font-weight-600">Designing stationery is always an enjoyable job for us. Stationery is a strong branding tool that speaks about the brand at all places. Promoworks has done some inspirational stationery designs by our creative designers.</span>
                                         <div class="box-arrow"><a href="javascript:void(0);"><img src="/images/homepage-option19-arrow-bg.jpg" alt="" itemprop="photo"></a></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- end slide item -->

                 <!-- start slide item -->
                 <div class="swiper-slide cover-background" style="background-image: url('/images/Branding/brochure/brochureback.jpg')" itemscope>
                     <div class="full-screen width-100 position-relative">
                         <div class="slider-typography text-left">
                             <div class="slider-text-middle-main">
                                 <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr hidden-xs">
                                     <div class="swiper-bottom-content bg-deep-pink width-500px padding-80px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                                         <h4 class="xs-margin-5px-bottom"><a href="javascript:void(0);" class="font-weight-600 text-white alt-font text-white-hover">Brochure Design</a></h4>
                                         <span class="alt-font text-uppercase text-small text-extra-dark-gray font-weight-600">Designing stationery is always an enjoyable job for us. Stationery is a strong branding tool that speaks about the brand at all places. Promoworks has done some inspirational stationery designs by our creative designers.</span>
                                         <div class="box-arrow"><a href="javascript:void(0);"><img src="/images/homepage-option19-arrow-bg.jpg" alt="" itemprop="photo"></a></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- end slide item -->
                 <!-- start slide item -->
                 <div class="swiper-slide cover-background" style="background-image: url('/images/Branding/magazine/brouchure-one.jpg')" itemscope>
                     <div class="full-screen width-100 position-relative">
                         <div class="slider-typography text-left">
                             <div class="slider-text-middle-main">
                                 <div class="slider-text-bottom padding-100px-lr xs-padding-30px-lr hidden-xs">
                                     <div class="swiper-bottom-content bg-deep-pink width-500px padding-80px-all margin-50px-left sm-no-margin-left xs-width-90 xs-padding-20px-all">
                                         <h4 class="xs-margin-5px-bottom"><a href="javascript:void(0);" class="font-weight-600 text-white alt-font text-white-hover">Brochure Design</a></h4>
                                         <span class="alt-font text-uppercase text-small text-extra-dark-gray font-weight-600">Designing stationery is always an enjoyable job for us. Stationery is a strong branding tool that speaks about the brand at all places. Promoworks has done some inspirational stationery designs by our creative designers.</span>
                                         <div class="box-arrow"><a href="javascript:void(0);"><img src="/images/homepage-option19-arrow-bg.jpg" alt="" itemprop="photo"></a></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- end slide item -->



             </div>
             <!-- start slider pagination -->
             <div class="swiper-pagination swiper-pagination-white"></div>
             <!-- end slider pagination -->
         </div>
     </section>
     <!-- end slider section -->









     <section class="no-padding-bottom wow fadeIn visible-xs" id="promo-portfolio">
         <div class="container-fluid no-padding">
             <div class="row text-center">
                 <div class="col-md-12">
                     <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 sm-width-100 xs-width-100">Brochure Design</h5> <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table margin-auto width-100px"></span> </div>
             </div>
             <div class="row no-margin">
                 <div class="filter-content overflow-hidden margin-100px-top sm-margin-75px-top xs-margin-50px-top">
                     <ul class="portfolio-grid work-4col hover-option2 gutter-small">
                         <li class="grid-sizer"></li>
                         <li class="grid-item wow fadeInUp">
                             <a href="javascript:void(0);">
                                 <figure>
                                     <div class="portfolio-img bg-deep-pink"> <img src="/images/Branding/brochure/brochurefront.jpg" alt="" /> </div>
                                     <figcaption>
                                         <div class="portfolio-hover-main text-left">
                                             <div class="portfolio-hover-box vertical-align-bottom">
                                                 <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                     <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Brochure Design</span>
                                                 </div>
                                             </div>
                                         </div>
                                     </figcaption>
                                 </figure>
                             </a>
                         </li>

                         <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                             <a href="javascript:void(0);">
                                 <figure>
                                     <div class="portfolio-img bg-deep-pink"> <img src="/images/Branding/brochure/brochureback.jpg" alt="" /> </div>
                                     <figcaption>
                                         <div class="portfolio-hover-main text-left">
                                             <div class="portfolio-hover-box vertical-align-bottom">
                                                 <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                     <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Brochure Design</span>
                                                 </div>
                                             </div>
                                         </div>
                                     </figcaption>
                                 </figure>
                             </a>
                         </li>
                         <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                             <a href="javascript:void(0);">
                                 <figure>
                                     <div class="portfolio-img bg-deep-pink"> <img src="/images/Branding/magazine/brouchure-one.jpg" alt="" /> </div>
                                     <figcaption>
                                         <div class="portfolio-hover-main text-left">
                                             <div class="portfolio-hover-box vertical-align-bottom">
                                                 <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                     <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Brochure Design</span>
                                                 </div>
                                             </div>
                                         </div>
                                     </figcaption>
                                 </figure>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </section>
