 <!-- start header section -->
<title>Email Marketing | PromoWorks</title>
        <section class="wow fadeIn no-padding parallax xs-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url(&quot;/images/marketing/email/onboarding_8.png&quot;); background-position: 0px 0px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container-fluid padding-thirteen-lr full-screen xs-padding-15px-lr" style="min-height: 608px;">
                <div class="row">
                    <div class="slider-typography">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-white alt-font font-weight-300 width-40 md-width-60 center-col sm-width-70 xs-width-100 no-margin-bottom">We craft <strong>authentic</strong>   strategies to grow your <strong>brands</strong></h2>
                                </div>
                            </div>
                            <div class="down-section text-center">
                                <a href="#about" class="inner-link"><i class="ti-arrow-down icon-medium text-deep-pink"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 center-col margin-five-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
                        <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">Why Choose Us?</div>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">We deliver 100% and provide instant response</h5>
                        <p class="no-margin-bottom">We blend brilliant designs, excellent design, creative strategies, innovative mindset, technology skills to create a streamlined consumer-first digital strategy that complements the brand and its story. We think differently to connect with people through creative digital strategies for meaningful results. We are a digital marketing team focused on reimagining digital experiences and the way that brand connects people.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center"><img src="/images/marketing/email/envoyer-sa-campagne.gif" alt="" data-no-retina=""></div>
                </div>
            </div>
        </section>
        
        
        <!-- End header section -->
        
