<title>Branding and Creative Works | PromoWorks</title>

<body class="left-nav-sidebar">
    <section class="no-padding wow fadeIn no-transition">
        <article class="content" id="open_gif">
            <video autoplay loop muted playsinline id="video" preload="metadata" src="http://res.cloudinary.com/promoworks/video/upload/v1520597503/gif.mp4"></video>
        </article>
    </section>
    <section class="wow fadeIn">
        <div class="container">
            <div class="row equalize md-equalize-auto">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center display-table xs-margin-15px-bottom wow fadeIn">
                    <div class="display-table-cell vertical-align-middle"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1520598014/image-1.jpg" alt="" class="width-100"> </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center display-table wow fadeIn" data-wow-delay="0.2s">
                    <div class="display-table-cell vertical-align-middle"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1520598014/image-2.jpg" alt="" class="width-100"> </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 no-padding display-table md-margin-five-top sm-text-center xs-no-margin-top wow fadeIn" data-wow-delay="0.4s">
                    <div class="display-table-cell vertical-align-middle padding-twelve-lr md-padding-15px-lr xs-text-center xs-padding-five-lr xs-padding-ten-top width-100">
                        <h4 class="font-weight-600 alt-font text-extra-dark-gray letter-spacing-minus-1">We combine smart design with rich technology to craft innovative brand.</h4>
                        <p class="text-extra-large alt-font font-weight-400">We always stay with our clients and respect their business. We deliver 100% and provide instant response.</p>
                        <p>We are a team of multi-skilled and curious digital specialists who are always up for a massive challenge forever. One of our values is that you should be looking out for each other. Everyone should try to make the lives of everyone else who works here a little bit simpler.</p><a href="http://www.promo.works" class="btn btn-small btn-dark-gray">About Company</a> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom sm-padding-15px-left text-center wow fadeInDown">
                    <h5 class="text-extra-dark-gray font-weight-600 no-margin timer alt-font" data-speed="6000" data-to="55">55</h5> <span class="display-block margin-three-bottom">Happy Clients</span>
                    <div class="separator-line-verticle-large bg-deep-pink display-inline-block"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 xs-margin-30px-bottom sm-padding-15px-left text-center wow fadeInDown" data-wow-delay="0.2s">
                    <h5 class="text-extra-dark-gray font-weight-600 no-margin timer alt-font" data-speed="6000" data-to="15">15</h5> <span class="display-block margin-three-bottom">Strong Team To work</span>
                    <div class="separator-line-verticle-large bg-deep-pink display-inline-block"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 sm-padding-15px-left xs-margin-30px-bottom text-center wow fadeInDown" data-wow-delay="0.4s">
                    <h5 class="text-extra-dark-gray font-weight-600 no-margin timer alt-font" data-speed="6000" data-to="325">325</h5> <span class="display-block margin-three-bottom">Work Completed</span>
                    <div class="separator-line-verticle-large bg-deep-pink display-inline-block"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 sm-padding-15px-left text-center wow fadeInDown" data-wow-delay="0.6s">
                    <h5 class="text-extra-dark-gray font-weight-600 no-margin timer alt-font" data-speed="6000" data-to="7200">7200</h5> <span class="display-block margin-three-bottom">Hours of Branding</span>
                    <div class="separator-line-verticle-large bg-deep-pink display-inline-block"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow fadeIn bg-light-gray">
        <div class="container">
            <div class="row equalize sm-equalize-auto">
                <div class="col-md-4 col-sm-12 col-xs-12 sm-text-center sm-margin-five-bottom xs-margin-ten-bottom display-table last-paragraph-no-margin">
                    <div class="display-table-cell vertical-align-middle"> <span class="text-extra-large text-extra-dark-gray alt-font margin-15px-bottom display-block width-85 sm-width-100">We are a Branding Company with a big Resume and a bold Attitude.</span>
                        <p class="width-90 sm-width-100">We are free from stereotypes because technology is our most creative tool.</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 text-center xs-margin-ten-bottom display-table wow zoomIn">
                    <div class="display-table-cell vertical-align-middle"> <img src="images/index/image-icon1.png" alt="">
                        <p class="alt-font margin-10px-top no-margin-bottom">Branding</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 text-center xs-margin-ten-bottom display-table wow zoomIn" data-wow-delay="0.2s">
                    <div class="display-table-cell vertical-align-middle"> <img src="images/index/image-icon2.png" alt="">
                        <p class="alt-font margin-10px-top no-margin-bottom">Innovation</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 text-center xs-margin-ten-bottom display-table wow zoomIn" data-wow-delay="0.4s">
                    <div class="display-table-cell vertical-align-middle"> <img src="images/index/image-icon3.png" alt="">
                        <p class="alt-font margin-10px-top no-margin-bottom">Technology</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 text-center display-table wow zoomIn" data-wow-delay="0.6s">
                    <div class="display-table-cell vertical-align-middle"> <img src="images/index/image-icon4.png" alt="">
                        <p class="alt-font margin-10px-top no-margin-bottom">Superiority</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow fadeIn no-padding">
        <div class="swiper-auto-height-container position-relative width-100">
            <div class="swiper-wrapper overflow-hidden">
                <div class="swiper-slide padding-100px-all cover-background position-relative xs-padding-20px-all parallax-one">
                    <div class="position-relative width-40 md-width-60 sm-width-85 xs-width-100 display-inline-block slide-banner last-paragraph-no-margin">
                        <div class="padding-80px-all bg-deep-pink-opacity sm-padding-40px-all xs-padding-30px-all xs-text-center xs-width-100">
                            <h5 class="alt-font text-white width-90 sm-width-100">A digital studio crafting beautiful experiences.</h5>
                            <p class="width-90 text-white sm-width-100">We blend brilliant design, creative strategies, innovative mindset &amp; rich technology skills to create a streamlined consumer-first digital strategy that complements the brand and its story. We think differently to connect with people through creative digital strategies for meaningful results. We are a digital marketing team focused on reimagining digital experiences and the way that brand connects people.</p><a href="/marketing/digitalmediamarketing" class="margin-35px-top sm-margin-15px-top btn btn-small btn-white">Explore services</a> </div>
                    </div>
                </div>
                <div class="swiper-slide padding-100px-all cover-background position-relative xs-padding-20px-all parallax-two">
                    <div class="position-relative width-40 md-width-60 sm-width-85 xs-width-100 display-inline-block slide-banner last-paragraph-no-margin">
                        <div class="padding-80px-all bg-deep-pink-opacity sm-padding-40px-all xs-padding-30px-all xs-text-center xs-width-100">
                            <h5 class="alt-font text-white width-90 sm-width-100">We always stay on the cutting edge of digital</h5>
                            <p class="width-90 text-white sm-width-100">Video content is quickly emerging, and the stats show that it is becoming one of the best marketing mediums out there. It’s accessible to everyone and it has one of the best ROI. Video is one of the most powerful means of distributing your message.Video content promotes brand recall. When customers remember your video marketing content, they also remember your brand, which translates to more sales and leads for you. </p><a href="/videos/2d-videos" class="margin-35px-top sm-margin-15px-top btn btn-small btn-white">Explore services</a> </div>
                    </div>
                </div>
                <div class="swiper-slide padding-100px-all cover-background position-relative xs-padding-20px-all parallax-three">
                    <div class="position-relative width-40 md-width-60 sm-width-85 xs-width-100 display-inline-block slide-banner last-paragraph-no-margin">
                        <div class="padding-80px-all bg-deep-pink-opacity sm-padding-40px-all xs-padding-30px-all xs-text-center xs-width-100">
                            <h5 class="alt-font text-white width-90 sm-width-100">We combine design, thinking and technical.</h5>
                            <p class="width-90 text-white sm-width-100">A website gives the first impression and initial impact about your brand. We make creative and responsive websites for your brand. The art of our development lay in concealing the complexity of the internal process from users and making the websites seem incredibly simple, user friendly and yet powerful.</p><a href="/applications/websitedesigning" class="margin-35px-top sm-margin-15px-top btn btn-small btn-white">Explore services</a> </div>
                    </div>
                </div>
            </div>
            <div class="navigation-area">
                <div class="swiper-button-next swiper-next-style4 bg-primary text-white"> <i class="fa fa-arrow-up" aria-hidden="true"></i> </div>
                <div class="swiper-button-prev swiper-prev-style4"> <i class="fa fa-arrow-down" aria-hidden="true"></i> </div>
            </div>
        </div>
    </section>
    <section class="no-padding-bottom wow fadeIn" id="promo-portfolio">
        <div class="container-fluid no-padding">
            <div class="row text-center">
                <div class="col-md-12">
                    <!-- <p class="alt-font margin-5px-bottom text-uppercase text-small">Best of Ours</p> -->
                    <h5 class="text-uppercase alt-font text-extra-dark-gray margin-20px-bottom font-weight-700 sm-width-100 xs-width-100">New Projects</h5> <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-table margin-auto width-100px"></span> </div>
            </div>
            <div class="row no-margin">
                <div class="filter-content overflow-hidden margin-100px-top sm-margin-75px-top xs-margin-50px-top">
                    <ul class="portfolio-grid work-4col hover-option2 gutter-small">
                        <li class="grid-sizer"></li>
                        <li class="grid-item wow fadeInUp">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521780030/homepage-11-masonary-01.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Sundaram Medical Foundation</span>
                                                    <p class="text-white text-uppercase text-extra-small">UI Design / Web Development</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-delay="0.2s">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521878562/homepage-11-masonary-09.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Loops</span>
                                                    <p class="text-white text-uppercase text-extra-small">Corporate Website / T-Shirt Designing</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521268355/homepage-11-masonary-05.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Aran Kitchen World</span>
                                                    <p class="text-white text-uppercase text-extra-small">Print Ads</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521268382/homepage-11-masonary-06.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">GoRiders</span>
                                                    <p class="text-white text-uppercase text-extra-small">Corporate Branding</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521784920/homepage-11-masonary-07.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Adroit Urban Developers</span>
                                                    <p class="text-white text-uppercase text-extra-small">Explainer Video</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-delay="0.2s">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521268458/homepage-11-masonary-10.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Girishwari Hospital</span>
                                                    <p class="text-white text-uppercase text-extra-small">UX Design / Web App</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521877208/homepage-11-masonary-11.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Chennai Food Factory</span>
                                                    <p class="text-white text-uppercase text-extra-small">Inshop Branding</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521780889/homepage-11-masonary-02.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Foodix</span>
                                                    <p class="text-white text-uppercase text-extra-small">2D Animated Video</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521877424/homepage-11-masonary-08.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">Krishna Group</span>
                                                    <p class="text-white text-uppercase text-extra-small">Digital Ads</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow fadeInUp" data-wow-delay="0.2s">
                            <a href="javascript:void(0);">
                                <figure>
                                    <div class="portfolio-img bg-deep-pink"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521877424/homepage-11-masonary-04.jpg" alt="" /> </div>
                                    <figcaption>
                                        <div class="portfolio-hover-main text-left">
                                            <div class="portfolio-hover-box vertical-align-bottom">
                                                <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                    <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div><span class="font-weight-600 line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block">PeopleCareer</span>
                                                    <p class="text-white text-uppercase text-extra-small">Corporate Website / Branding</p>
                                                </div>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="wow fadeIn testi">
        <div class="container">
            <div class="row position-relative">
                <div class="swiper-slider-second swiper-pagination-bottom swiper-container black-move testimonial-style2 sm-padding-50px-bottom xs-sm-padding-30px-bottom wow fadeIn">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>We had a great experience with Promoworks! First their creative team created a sleek and modern logo for us. They understood our business and were able to quickly and efficiently deliver a website consistent with what I envisioned.</p>
                                    </div>
                                    <div class="profile-box last-paragraph-no-margin"> <img src="images/index/avtar-12.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Vairavel</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Loops</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>Promoworks did a fantastic job of our hospital website. It was easy to work with the team to get the website I was looking for, and they developed our site and implemented changes very quickly.</p>
                                    </div>
                                    <div class="profile-box"> <img src="images/index/avtar-10.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100 last-paragraph-no-margin">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Vedhagiri Saravanan</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Girishwari Hospital</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>Each member of promoworks team brings a level of talent and insight that makes them feel like a member of our organization. They designed a great UI. Thank you Promoworks.</p>
                                    </div>
                                    <div class="profile-box"> <img src="images/index/avtar-09.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100 last-paragraph-no-margin">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Shreyans</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Aran KitchenWorld</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>It is all with the help of Promoworks that we are able to reach our target audience towards our business. They assist us with great ideas and helped us to get a digital footprint. Quite Satisfied.</p>
                                    </div>
                                    <div class="profile-box"> <img src="images/index/avtar-12.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100 last-paragraph-no-margin">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Aswath Reddy</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Krishna Group</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>Promoworks is creative and brilliant. Team is very professional, attentive and wonderful to work with. Promoworks understands the client needs and deliver best results. </p>
                                    </div>
                                    <div class="profile-box"> <img src="images/index/avtar-08.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100 last-paragraph-no-margin">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Sreedevi</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">SMF Hospital</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>Promoworks helped me in getting outstanding videos. They assist us with great ideas and helped us to get a digital footprint. I am very much pleased!</p>
                                    </div>
                                    <div class="profile-box last-paragraph-no-margin"> <img src="images/index/avtar-11.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">RadhaKrishnan VPS</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Foodix</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Erode</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>The team at Promoworks are true professionals. Their innovative ideas and agile execution helped us propel our business to great heights. We were deeply impressed with their level of planning and attitude.</p>
                                    </div>
                                    <div class="profile-box last-paragraph-no-margin"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1521721198/avtar-15.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">B Rajeshwari</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Chennai Food Factory</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-lg-7 col-md-8 col-sm-10 col-xs-12 center-col">
                                <div class="testimonia-block width-90 xs-width-100 center-col">
                                    <div class="bg-light-gray text-center padding-60px-all border-radius-6 xs-padding-20px-all">
                                        <p>Quality work, timely deliverable and cost efficient. Overall the quality of the work was very professional in nature. It was great working with the creative team. Promoworks does a perfect work in developing our website. Will definitely recommend Promoworks.</p>
                                    </div>
                                    <div class="profile-box last-paragraph-no-margin"> <img src="images/index/avtar-14.jpg" alt="" class="width-20 xs-center-col border-radius-100 border-color-white border-width-4 border-solid margin-15px-bottom">
                                        <div class="width-100">
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Senthil L</p>
                                            <p class="alt-font text-small font-weight-600 text-black text-uppercase margin-5px-bottom">Elroi Wedding Cards</p>
                                            <p class="text-uppercase text-extra-small text-medium-gray">Chennai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-second"></div>
                    <div class="swiper-button-next slider-long-arrow-white display-none"></div>
                    <div class="swiper-button-prev slider-long-arrow-white display-none"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow fadeIn">
        <div class="container text-center">
            <div class="swiper-slider-clients swiper-container black-move">
                <div class="swiper-wrapper">
                    <div class="swiper-slide text-center"> <img src="images/index/logo-1.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-2.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-3.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-4.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-5.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-6.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-7.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-8.png" alt=""> </div>
                    <div class="swiper-slide text-center"> <img src="images/index/logo-9.png" alt=""> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wow fadeIn bg-extra-dark-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 padding-ten-right md-padding-five-right sm-padding-15px-right sm-margin-five-bottom wow fadeIn"> <img src="http://res.cloudinary.com/promoworks/image/upload/v1520598303/90000.gif" class="text-center">
                    <div class="icon-box width-100 sm-margin-lr-auto xs-width-100 last-paragraph-no-margin">
                        <div class="icon-box-holder vertical-align-middle display-table-cell position-relative"> <i class="icon-map icon-medium text-deep-pink padding-5px-top"></i>
                            <div class="alt-font text-white">Postal Address</div>
                            <p class="text-white">#5/35, Eldams Road, Alwarpet, Chennai-600018.</p>
                        </div>
                    </div>
                    <div class="icon-box width-100 sm-margin-lr-auto xs-width-100 last-paragraph-no-margin">
                        <div class="icon-box-holder vertical-align-middle display-table-cell position-relative"> <i class="icon-envelope icon-medium text-deep-pink padding-5px-top"></i>
                            <div class="alt-font text-white">General Enquiries</div>
                            <p class="text-white"> <a href="mailto:hello@promo.works" class="text-white"> hello@promo.works</a> </p>
                        </div>
                    </div>
                    <div class="icon-box width-100 sm-margin-lr-auto xs-width-100 last-paragraph-no-margin">
                        <div class="icon-box-holder vertical-align-middle display-table-cell position-relative"> <i class="icon-chat icon-medium text-deep-pink padding-5px-top"></i>
                            <div class="alt-font text-white">Say Hello !</div>
                            <p class="text-white">+91 94 88 88 99 89</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn">
                    <div class="padding-fifteen-all bg-white border-radius-6 md-padding-seven-all">
                        <div class="text-extra-dark-gray alt-font text-large font-weight-600 margin-30px-bottom">Looking for an excellent business idea?</div>
                        <div>{{#if errors}}{{#each errors}}
                            <div class="alert alert-dismissable alert-danger">{{msg}}</div>{{/each}}{{/if}}{{msg}}
                            <form id="contact-form" action="send" method="post">
                                <div id="success-contact-form" class="no-margin-lr"></div>
                                <input type="text" name="name" id="name" placeholder="Name*" class="input-bg">
                                <input type="text" name="email" id="email" placeholder="E-mail*" class="input-bg">
                                <input type="text" name="subject" id="subject" placeholder="Subject" class="input-bg">
                                <textarea name="comment" id="comment" placeholder="Your Message" class="input-bg"></textarea>
                                <button id="contact-us-button" type="submit" class="btn btn-small border-radius-4 btn-blue send">send message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    video.addEventListener('loadedmetadata', function() {
        if (video.buffered.length === 0) return;
        var bufferedSeconds = video.buffered.end(0) - video.buffered.start(0);
        console.log(bufferedSeconds + ' seconds of video are ready to play!');
    });
</script>
