
     <title>On-Page SEO | PromoWorks</title>

<!-- start header section -->
       
        
        <section class="wow fadeIn no-padding parallax xs-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url(&quot;/images/seo/seo1.jpg&quot;); background-position: 0px 0px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container-fluid padding-thirteen-lr full-screen xs-padding-15px-lr" style="min-height: 608px;">
                <div class="row">
                    <div class="slider-typography">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-white alt-font font-weight-300 width-40 md-width-60 center-col sm-width-70 xs-width-100 no-margin-bottom">On<strong>-</strong>Page <strong>SEO</strong></h2>
                                </div>
                            </div>
                            <div class="down-section text-center">
                                <a href="#about" class="inner-link"><i class="ti-arrow-down icon-medium text-deep-pink"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        
        
        
        
        
        <section class="no-padding bg-light-gray wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row equalize sm-equalize-auto">
                    <div class="col-md-5 col-sm-12 sm-text-center col-md-offset-1 sm-padding-50px-all xs-padding-15px-lr pull-right" style="height: 685px;">
                        <div class="display-table width-100 height-100">
                            <div class="display-table-cell vertical-align-middle">
                                <i class="fa fa-quote-left text-deep-pink icon-medium margin-15px-bottom"></i>
                                <h5 class="text-extra-dark-gray alt-font text-uppercase font-weight-700">Design is not just what it looks like and feels like. Design is how it works.</h5>
                                <p class="width-90 sm-width-100">Our specialists are experts in On-Page SEO. The structure of your website plays a significant role in how well it ranks in the organic search engine results. Our group of specialists can optimize the coding and structure of your website to help it rank better in the organic search engine results.  </p>
                                <img src="/images/logo.png" alt="" class="margin-15px-top" data-no-retina="">
                                <span class="text-extra-dark-gray text-large display-block margin-30px-top alt-font font-weight-600">On-Page SEO</span>
                                <span class="display-block">From Promoworks</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center" style="height: 685px;">
                        <div class="display-table width-100 height-100">
                            <div class="display-table-cell vertical-align-bottom">
                                <img src="/images/seo/seo1.gif" alt="" data-no-retina="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        <section class="wow fadeIn bg-light-gray" id="about" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">The most important On-Page SEO techniques are: -</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-10 col-xs-12 center-col">
                        <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Properly Written Meta Tags</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Optimized Title Tags</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Proper Meta Descriptions</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Proper URL Structures</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Optimized Heading Tags</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Quality Long Contents</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Optimization of Keywords</mark></span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Optimization of Images</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Boost Site Response Time</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Rectify Broken Links</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>User Friendly Navigation</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Use Social Media Sharing Buttons</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Sitemaps</mark></span></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        
        
        
        <section class="wow fadeIn bg-light-gray" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">These are some of the common On-Page SEO errors, our team of experts fix on websites.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 center-col text-center tab-style3" id="animated-tab1">
                        <!-- start tab navigation -->
                        <ul class="nav nav-tabs margin-50px-bottom xs-margin-30px-bottom text-uppercase alt-font text-small font-weight-600"> 
                            <li class="nav"><a href="#tab3_sec1" data-toggle="tab" class="text-medium-gray" aria-expanded="false">Optimization</a></li>
                            <li class="nav active"><a href="#tab3_sec2" data-toggle="tab" class="text-medium-gray" aria-expanded="false">Keywords</a></li>
                            <li class="nav"><a href="#tab3_sec3" data-toggle="tab" class="text-medium-gray" aria-expanded="false">Responsive</a></li>
                            <li class="nav"><a href="#tab3_sec4" data-toggle="tab" class="text-medium-gray" aria-expanded="true">Indexation</a></li>
                            <li class="nav"><a href="#tab3_sec5" data-toggle="tab" class="text-medium-gray" aria-expanded="true">URL Structure</a></li>
                            <li class="nav"><a href="#tab3_sec6" data-toggle="tab" class="text-medium-gray" aria-expanded="true">Linking</a></li>
                            <li class="nav"><a href="#tab3_sec7" data-toggle="tab" class="text-medium-gray" aria-expanded="true">Redirects</a></li>
                            <li class="nav"><a href="#tab3_sec8" data-toggle="tab" class="text-medium-gray" aria-expanded="true">Site Errors</a></li>
                        </ul>
                        <!-- end tab navigation -->
                    </div>
                </div>
                <!-- start tab content -->
                <div class="tab-content">
                    <!-- start tab content -->
                    <div id="tab3_sec1" class="center-col tab-pane fade"> 
                        <div class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                              <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Page Title Formatting</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Page Titles Missing</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Page Titles Too Short/Long</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Page Titles Duplicated</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Meta Descriptions Missing</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Meta Descriptions Too Short/Long</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Meta Descriptions Duplicated Sub Optimal Header Hierarchy</mark></span></li> 
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab3_sec2" class="center-col tab-pane fade"> 
                        <div class="tab-pane fade in"> 
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                       <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Keyword Analysis</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Competitive Analysis</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Keyword Search Volume Too Low</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Domain Authority Comparison</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Long Tail Keyword Selection</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Subpage Keyword Hierarchy</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Keyword Frequency</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Incorrect Anchor Text Linking</mark></span></li> 
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab3_sec3" class="center-col tab-pane fade active in"> 
                        <div class="tab-pane fade in"> 
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                       <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Site is Not Mobile Friendly</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Low Page Speed Score – Mobile</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Generic Desktop to Mobile Site Redirection</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Switchboard Tags Vary</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>HTTP Header – Same URL Vary</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">HTTP Header – Different URL</mark></span></li> 
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                    <!-- start tab content -->
                    <div id="tab3_sec4" class="center-col tab-pane fade"> 
                        <div class="tab-pane fade in"> 
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                        <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Robots.txt File Missing</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Robots.txt File Blocking Valuable Content</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>XML Sitemap Missing or URL not listed in Robots.txt</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>XML Sitemap Lists pages blocked by the Robots.txt</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>XML Sitemap is Malformed/Incomplete/Outdated</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Low Page Speed score</mark></span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Improper Canonical Tags Robots Meta Tag</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Desktop Webmaster Tools Not Available</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">XML Video and Image Sitemap Missing</mark></span></li> 
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->       
                    <!-- start tab content -->
                    <div id="tab3_sec5" class="center-col tab-pane fade"> 
                        <div class="tab-pane fade in"> 
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                        <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Unnecessary Sub-Domains</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Unnecessary Directories</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Generic Directory Structure</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Dynamic URL Issues</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Tracking Parameters in the URL</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Session IDs in URLs</mark></span></li>
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->        
                    <!-- start tab content -->
                    <div id="tab3_sec6" class="center-col tab-pane fade"> 
                        <div class="tab-pane fade in"> 
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                        <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Internal link issues</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Sub Optimal Anchor Text</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Missing Breadcrumbs</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Malformed Breadcrumbs</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Breadcrumbs Missing Schema</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">No Consumer Facing Sitemap</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Unnecessary Internal No-Follow Links</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>JavaScript Navigation</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Images Used in Navigation</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Flash Navigation</span></li> 
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->          
                    <!-- start tab content -->
                    <div id="tab3_sec7" class="center-col tab-pane fade"> 
                        <div class="tab-pane fade in"> 
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                      <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Unnecessary Redirects</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>302 Redirects</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Meta-Refresh Redirects</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>JavaScript Redirects</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Tracking Parameters in the URL</span></li> 
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Session IDs in URLs</mark></span></li>
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->           
                    <!-- start tab content -->
                    <div id="tab3_sec8" class="center-col tab-pane fade"> 
                        <div class="tab-pane fade in"> 
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12 center-col last-paragraph-no-margin">
                                    <ul class="no-padding list-style-10">
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Site Contains Page Errors</mark></span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Broken Page Links</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Broken Image Links</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span>Missing Custom 404 Page Error</span></li>
                            <li><i class="fa fa-arrow-right text-extra-dark-gray" aria-hidden="true"></i><span><mark class="label-success text-white">Page Does Not Return 404</mark></span></li>
                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end tab content -->
            </div>
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Advantages of our Complete SEO Package</span>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-12">
                        <div class="swiper-number-pagination swiper-container black-move swiper-container-horizontal">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 sm-display-none"></div>
                            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                <!-- start slider item -->
                                <div class="swiper-slide swiper-slide-active" style="width: 1140px;">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">SEO Advantages </span>
                                                    <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">Drive more highly relevant search traffic to your website.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide swiper-slide-next" style="width: 1140px;">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">SEO Advantages</span>
                                                    <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">Better Ranking on Search Engine Results Pages.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide" style="width: 1140px;">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">SEO Advantages</span>
                                                    <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">Increase visibility on core and highly-targeted keywords.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->         
                                <!-- start slider item -->
                                <div class="swiper-slide" style="width: 1140px;">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">SEO Advantages</span>
                                                    <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">Grow the quantity and quality of inbound &amp; outbound links.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->                 
                                <!-- start slider item -->
                                <div class="swiper-slide" style="width: 1140px;">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">SEO Advantages</span>
                                                    <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">Identify and adjust broken links and site errors.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->         
                                <!-- start slider item -->
                                <div class="swiper-slide" style="width: 1140px;">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">SEO Advantages</span>
                                                    <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">Search Engines can easily crawl and index your site.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->             
                                <!-- start slider item -->
                                <div class="swiper-slide" style="width: 1140px;">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">SEO Advantages</span>
                                                    <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">Better user experience (UX) for your clients.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active">01</span><span class="swiper-pagination-bullet">02</span><span class="swiper-pagination-bullet">03</span><span class="swiper-pagination-bullet">04</span><span class="swiper-pagination-bullet">05</span><span class="swiper-pagination-bullet">06</span><span class="swiper-pagination-bullet">07</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
                        <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">We would love to hear about start your new project?</h5>
                        <a href="/start-your-project" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Start New Project</a>
                    </div>
                </div>
            </div>
        </section>
        
        
