     <title>Careers | PromoWorks</title>


<!-- start header section -->
      
        
        
        
            <section class="no-padding height-100 bg-black">
            <div class="container-fluid">
                <div class="row">
                    <div class="swiper-container swiper-four-slides white-move height-100 width-100 hover-option3" id="careers-swiper">
                        <div class="swiper-wrapper">
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('https://res.cloudinary.com/promoworks/image/upload/v1521267996/homepage-2-slider-img-1.jpg');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="/careers/creative-director"><h6 class="font-weight-300 text-white margin-20px-bottom">Creative Director</h6></a>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('https://res.cloudinary.com/promoworks/image/upload/v1521268078/homepage-2-slider-img-3.jpg');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="/careers/social-media-strategist"><h6 class="font-weight-300 text-white margin-20px-bottom">Social Media Strategist</h6></a>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('https://res.cloudinary.com/promoworks/image/upload/v1521268115/homepage-2-slider-img-2.jpg');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="/careers/content-strategist"><h6 class="font-weight-300 text-white margin-20px-bottom">Content Strategist</h6></a>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('https://res.cloudinary.com/promoworks/image/upload/v1521268139/homepage-2-slider-img-4.jpg');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="/careers/3D-animator"><h6 class="font-weight-300 text-white margin-20px-bottom">3D Animator</h6></a>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('https://res.cloudinary.com/promoworks/image/upload/v1521268176/homepage-2-slider-img-5.jpg');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="/careers/graphic-designer"><h6 class="font-weight-300 text-white margin-20px-bottom">Graphic Designer</h6></a>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->
                            <!-- start slide item -->
                            <div class="swiper-slide cover-background full-screen grid-item text-left" style="background-image:url('https://res.cloudinary.com/promoworks/image/upload/v1521268204/bugsnag-2.png');">
                                <div class="slide-hover-box">
                                    <div class="opacity-medium bg-black"></div>
                                    <figure class="position-absolute">
                                        <figcaption>
                                            <a href="/careers/business-account"><h6 class="font-weight-300 text-white margin-20px-bottom">New Business Account - Manager</h6></a>
                                            <div class="separator-line-horrizontal-medium-light2 opacity5 bg-white margin-35px-top sm-margin-15px-top"></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end slide item -->

                        </div>
                        <!-- start slider pagination -->
                        <div class="swiper-pagination swiper-pagination-four-slides swiper-pagination-white"></div>
                        <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
                        <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
                        <!-- end slider pagination -->
                    </div>
                </div>
            </div>
        </section>
        
        
        
