
     <title>Privacy | PromoWorks</title>


<!-- start header section -->
       

        
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image: url(&quot;/images/privacy/webflick-privacy-stuff.gif&quot;); background-position: 0px 0px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <!-- start page title -->
<!--                            <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Privacy Policy</h1>-->
                            <!-- end page title -->
                            <!-- start sub title -->
<!--                            <span class="text-white opacity6 alt-font">Unlimited power and customization possibilities</span>-->
                            <!-- end sub title -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Privacy Policy</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 center-col">
                        <!-- start blockquote -->
                        <blockquote class="border-color-deep-pink">
                            <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. Promoworks recognises the importance of maintaining your privacy. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
                            <footer>Promoworks</footer>
                        </blockquote>
                        <!-- end blockquote -->
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">What personal information do we collect from the people that visit our website ?</h6>
                        <p class="text-medium line-height-30 text-medium-gray">When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address and other details to help you with your experience.</p>   
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">When do we collect information ?</h6>
                        <p class="text-medium line-height-30 text-medium-gray">We collect information from you when you register on our site, subscribe to a newsletter, fill out a form, Use Live Chat, Open a Support Ticket or enter information on our site.</p>   
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">Security Measures</h6>
                        <p class="text-medium line-height-30 text-medium-gray">Promoworks takes utmost care to secure Your Information from unauthorised access, usage or disclosure or alteration. We take appropriate steps and security measures to safeguard Your Information and make sure that Your Information is secured as mandated by law. For this purpose, we adopt reasonable security practices and procedures, in line with the industry standard, to include, technical, operational, managerial and physical security controls in order to protect your personal information from unauthorized access, or disclosure while it is under our control.</p>  
                        
                        <p class="text-medium line-height-30 text-medium-gray">While We protect Your Personal information as per industry standards, you acknowledge that the internet or computer networks are not fully secure and that We cannot provide any absolute assurance regarding the security of Your Personal information. Therefore, you acknowledge that You shall not hold responsible Promoworks in any manner whatsoever for loss of Your Information, or any other data, which You shares with Us or which We have with Us if such loss or any damage caused to You because of Force Majeure events. You further acknowledge that any information (including your personal information) transmitted to Us or from Your use of Website will therefore be at Your own risk.</p>           
                        
                        <p class="text-medium line-height-30 text-medium-gray">It is clarified that Force Majeure events includes any event which is beyond the reasonable control of the Promoworks which may include but not limited to sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or industrial action of any kind, riots, insurrection, war, acts of government, computer hacking, unauthorised access to computer, computer system or computer network, computer crashes, breach of security and encryption.</p> 
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">Updates of Your Information</h6>
                        <p class="text-medium line-height-30 text-medium-gray">Promoworks take all endeavours to update Our records with latest information as provided by you, however if you see any discrepancy in your personal information you may contact to Us at hello@promo.works to have Your Information updated with Us.</p>
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">Authorization</h6>
                        <p class="text-medium line-height-30 text-medium-gray">In purview of the Telecom Regulatory Authority of India (TRAI) guidelines, you hereby authorize Promoworks and its affiliates or otherwise who are accessing the Your Information by virtue of their association with Promoworks to communicate with You through telephone/mobile, Email, SMS or other modes of communication even if Yours number/numbers(s) is/are registered in the National Do Not Call Registry (NDNC) or www.nccptrai.gov.in</p>       
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">How do we use your information ?</h6>
                        <p class="text-medium line-height-30 text-medium-gray">We may use the information we collect from you when you register, place an order, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
                        <ul class="no-padding list-style-1">
                            <li>To allow us to better service you in responding to your customer service requests.</li>
                            <li>To send periodic emails regarding your order or other products and services.</li>
                            <li>To send you information about special promotions or offers.</li>
                            <li>To follow up with them after correspondence (live chat, email or phone inquiries)</li>
                        </ul>
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">How do we protect your information ?</h6>
                        <ul class="no-padding list-style-1">
                            <li>We only provide digital solutions and information. We never ask for credit card numbers.</li>
                            <li>We use regular Malware Scanning.</li>
                        </ul>
                             <p class="text-medium line-height-30 text-medium-gray">We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>  
                            <p class="text-medium line-height-30 text-medium-gray">All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>                        
                                                               <h6 class="text-extra-dark-gray alt-font font-weight-600">Do we use 'cookies' ?</h6>
                             <p class="text-medium line-height-30 text-medium-gray">We use the following cookies in pw.</p>  
                         <ul class="no-padding list-style-1">
                            <li>Performance Cookies.</li>
                            <li>Session Cookies.</li>
                        </ul>
                        
                        <h6 class="text-extra-dark-gray alt-font font-weight-600">Performance Cookies</h6>
                    <p class="text-medium line-height-30 text-medium-gray">We use Performance cookies to monitor visitor behaviour on our website to help us improve our information and services.</p>        
                        <h6 class="text-extra-dark-gray alt-font font-weight-600">Session Cookies</h6>
                    <p class="text-medium line-height-30 text-medium-gray">These are stored while you’re browsing. They get deleted from your device when you close your browser.</p> 
                    <p class="text-medium line-height-30 text-medium-gray">You are always free to decline cookies if your browser permits, by declining the use of cookies you may not be able to use certain features on the Website.</p> 
                        
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">Third-party disclosure </h6>
                             <p class="text-medium line-height-30 text-medium-gray">We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>                          
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">Third-party links </h6>
                             <p class="text-medium line-height-30 text-medium-gray">We do not include or offer third-party products or services on our website.</p>  
                                       
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">Google </h6>
                     <h6 class="text-extra-dark-gray alt-font font-weight-600">We have implemented the following: </h6>
                             <p class="text-medium line-height-30 text-medium-gray">Google Display Network Impression Reporting.</p>  
                             <p class="text-medium line-height-30 text-medium-gray">We, along with third-party s such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>  
                        
                                             <h6 class="text-extra-dark-gray alt-font font-weight-600">How does our site handle Do Not Track signals ?</h6>
                             <p class="text-medium line-height-30 text-medium-gray">We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>  
                        
                                                
                                             <h6 class="text-extra-dark-gray alt-font font-weight-600">We collect your email address in order to</h6>
                             <p class="text-medium line-height-30 text-medium-gray">Send information, respond to inquiries, and/or other requests or questions</p>  
                                                
                                                
                                             <h6 class="text-extra-dark-gray alt-font font-weight-600">To be in accordance with our privacy policy, we agree to the following</h6>
                             <p class="text-medium line-height-30 text-medium-gray">Send information, respond to inquiries, and/or other requests or questions</p>  
                        
                                                <ul class="no-padding list-style-1">
                            <li>Not use false or misleading subjects or email addresses.</li>
                            <li>Identify the message as an advertisement in some reasonable way.</li>
                            <li>Monitor third-party email marketing services for compliance, if one is used.</li>
                        </ul>
                                                                  
                                             <h6 class="text-extra-dark-gray alt-font font-weight-600">If at any time you would like to unsubscribe from receiving future emails, you can email us at</h6>
                             <p class="text-medium line-height-30 text-medium-gray">You can opt out of receiving our marketing emails. To stop receiving our promotional emails, please email hello@promo.works It may take about ten days to process your request and we will promptly remove you from ALL correspondence. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your purchases.</p>  
                        
    
                                                                             
                                             <h6 class="text-extra-dark-gray alt-font font-weight-600">Updates to this policy</h6>
                             <p class="text-medium line-height-30 text-medium-gray">Promoworks reserves the right to amend or modify this Privacy Policy at any time, as and when the need arises. We request you to regularly check this Privacy Policy from time to time to keep you apprise of changes made. Your continued use of the Website gives your unconditional acceptance to such change in terms of Privacy Policy.This Privacy Policy was last updated on 24-Feb.2018.</p>  
                        
    
                        
                    </div>
                </div>
            </div>
        </section>
        
        
