
            <title>Promotional - Videos | PromoWorks</title>

<!-- start header section -->
<section class="wow fadeIn no-padding parallax xs-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url(https://res.cloudinary.com/promoworks/image/upload/v1532414878/promo.gif); background-position: 0px 0px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container-fluid padding-thirteen-lr full-screen xs-padding-15px-lr" style="min-height: 469px;">
                <div class="row">
                    <div class="slider-typography">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-white alt-font font-weight-300 width-40 md-width-60 center-col sm-width-70 xs-width-100 no-margin-bottom"><strong>Promotional</strong> Videos</h2>
                                </div>
                            </div>
                            <div class="down-section text-center">
                                <a href="#about" class="inner-link"><i class="ti-arrow-down icon-medium text-deep-pink"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End header section -->


        <!-- start feature box section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
                        <div class="feature-box">
                            <div class="content">
                                <i class="icon-browser text-medium-gray icon-large margin-25px-bottom sm-margin-15px-bottom"></i>
                                <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">Unique Composition</div>
                                <p class="width-85 margin-lr-auto sm-width-100">Creativity is to think more efficently.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-box">
                            <div class="content">
                                <i class="icon-book-open text-medium-gray icon-large margin-25px-bottom sm-margin-15px-bottom"></i>
                                <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">Unique Effects</div>
                                <p class="width-85 margin-lr-auto sm-width-100">Design is intelligence made visible.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                    <!-- start feature box item -->
                    <div class="col-md-4 col-sm-4 col-xs-12 xs-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature-box">
                            <div class="content">
                                <i class="icon-hotairballoon text-medium-gray icon-large margin-25px-bottom sm-margin-15px-bottom"></i>
                                <div class="text-medium alt-font text-capitalize text-extra-dark-gray margin-10px-bottom sm-margin-5px-bottom">After Effects</div>
                                <p class="width-85 margin-lr-auto sm-width-100">Design is thinking made visual.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end feature box item -->
                </div>
            </div>
        </section>
        <!-- end feature box section -->




        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center">
                        <div class="position-relative overflow-hidden width-100">
                            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Madras</span>
                        </div>
                    </div>
                </div>    
            </div>
        </section>


<section class="parallax wow fadeIn" data-stellar-background-ratio="0.1" style="background-image: url(https://res.cloudinary.com/promoworks/image/upload/v1532413197/madras.png); background-position: 0px -5.08125px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-center center-col">
                        <a href="https://res.cloudinary.com/promoworks/video/upload/v1532419880/MadrasMylaporeLC4.mp4" class="popup-vimeo"><img src="/images/videos/icon-play.png" class="width-30" alt="" data-no-retina=""></a>
                        <h5 class="alt-font text-white">Unique. Powerful. Creative.</h5>
                    </div>
                </div>
            </div>
        </section>



 


        <!-- end Video item -->
