
     <title>TV Ads | PromoWorks</title>

<!-- start header section -->
       
        
        <section class="wow fadeIn no-padding parallax xs-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url(&quot;/images/ads/tv/tv.gif&quot;); background-position: 0px 0px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container-fluid padding-thirteen-lr full-screen xs-padding-15px-lr" style="min-height: 608px;">
                <div class="row">
                    <div class="slider-typography">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-white alt-font font-weight-300 width-40 md-width-60 center-col sm-width-70 xs-width-100 no-margin-bottom">Television <strong>Ads</strong></h2>
                                </div>
                            </div>
                            <div class="down-section text-center">
                                <a href="#about" class="inner-link"><i class="ti-arrow-down icon-medium text-deep-pink"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        
        
        
        
        
        
        <section class="wow fadeIn" id="about" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
                        <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">We would love to hear about start your new project?</h5>
                        <a href="/start-your-project" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Start New Project</a>
                    </div>
                </div>
            </div>
        </section>
        
        
