            <title>Web Applications | PromoWorks</title>



<!-- start header section -->
       
        
        <section class="wow fadeIn no-padding parallax xs-background-image-center" data-stellar-background-ratio="0.5" style="background-image: url(&quot;/images/web/single-project-02-img1.jpg&quot;); background-position: 0px 0px; visibility: visible; animation-name: fadeIn;">
            <div class="opacity-extra-medium bg-black"></div>
            <div class="container-fluid padding-thirteen-lr full-screen xs-padding-15px-lr" style="min-height: 608px;">
                <div class="row">
                    <div class="slider-typography">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="col-lg-12 text-center">
                                    <h2 class="text-white alt-font font-weight-300 width-40 md-width-60 center-col sm-width-70 xs-width-100 no-margin-bottom">We combine <strong>smart design</strong> with rich technology to <strong>craft innovative</strong> Web Apps</h2>
                                </div>
                            </div>
                            <div class="down-section text-center">
                                <a href="#about" class="inner-link"><i class="ti-arrow-down icon-medium text-deep-pink"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <!-- End header section -->
        
      

        
        
        
         <!-- start product information section -->
        <section class="wow fadeIn big-section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-11 center-col text-center margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp">
                        <h6 class="alt-font text-extra-dark-gray">Web Applications</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom fadeInUp">
                        <div class="col-md-3 padding-30px-lr">
                            <ul class="list-style-6">
                                <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">Client</li>
                                <li>HrBooks</li>
                            </ul>
                        </div>
                        <div class="col-md-3 padding-30px-lr">
                            <ul class="list-style-6">
                                <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">Industry</li>
                                <li>Human Resources</li>
                            </ul>
                        </div>
                        <div class="col-md-3 padding-30px-lr">
                            <ul class="list-style-6">
                                <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">Services</li>
                                <li>hrbooksERP</li>
                            </ul>
                        </div>
                        <div class="col-md-3 padding-30px-lr">
                            <ul class="list-style-6">
                                <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">Art Director</li>
                                <li>PW</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 center-col text-center wow fadeInUp" data-wow-delay="0.4s">
                        <a href="javascript:;" class="btn btn-transparent-dark-gray btn-large" target="_blank" rel="noopener" itemprop="WebApps">Launch Website</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end product information section -->
        <!-- start product image section -->
        <section class="wow fadeIn no-padding">
            <div class="container-fluid no-padding">
                <div class="row no-margin">
                    <div class="col-md-12 no-padding wow fadeInUp">
                        <img src="/images/web/8.gif" class="width-100" alt=""/>
                    </div>
<!--
                    <div class="col-md-6 no-padding wow fadeInUp">
                        <img src="/images/web/single-project-02-img2.jpg" class="width-100" alt=""/>
                    </div>
-->
                </div>
            </div>
        </section>
        <!-- end product image section -->
        <!-- start product information section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-1 line-height-28 last-paragraph-no-margin wow fadeInUp">
                        <ul class="list-style-6">
                            <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">About Project</li>
                            <li>HRBooks is an ERP which automates the Human Resource System of an organisation. It covers the human management needs of an organisation from hire to retire. It facilitates smooth functioning of the system from Recruitment to Exit of an employee. It consists of Recruitment, Time &amp; Attendance, Planning &amp; Analytics, Payroll and Exit modules. HRBooks helps in improving the efficiency of employees and in turn increases the productivity.To provide complete automation of Human Resource and to ease the HR process involved from hire to retire.</li>
                        </ul>
                    </div>
<!--
                    <div class="col-md-5 col-md-offset-1 line-height-28 last-paragraph-no-margin wow fadeInUp"  data-wow-delay="0.2s">
                        <ul class="list-style-6">
                            <li class="text-extra-small text-uppercase text-black font-weight-500 line-height-22">Project Brief</li>
                            <li>To provide complete automation of Human Resource and to ease the HR process involved from hire to retire.</li>
                        </ul>
                    </div>
-->
                </div>
            </div>
        </section>
        <!-- end product information section -->
        <!-- start product slider section -->
        <section class="wow fadeIn no-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="swiper-blog white-move">
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide width-50 sm-width-80 xs-width-100">
                                    <img src="/images/web/single-project-02-img4.jpg" class="width-100" alt=""/>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide width-50 sm-width-80 xs-width-100">
                                    <img src="/images/web/single-project-02-img5.jpg" class="width-100" alt=""/>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide width-50 sm-width-80 xs-width-100">
                                    <img src="/images/web/single-project-02-img3.jpg" class="width-100" alt=""/>
                                </div>
                                <!-- end slider item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end product slider section -->
        <!-- start product video section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-11 center-col text-center margin-70px-bottom xs-no-margin-bottom wow fadeInUp">
                        <span class="text-uppercase alt-font text-small text-medium-gray margin-5px-bottom display-block">How to make decorative light</span>
                        <h6 class="alt-font text-extra-dark-gray">Holistic brand redesign focusing product design, interface design, studio photograph style, icon design, editorial design, web design &amp; motion design.</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center display-table sm-margin-50px-bottom xs-margin-30px-bottom center-col wow fadeIn">
                        <div class="display-table-cell vertical-align-middle">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                                <img src="/images/web/webApps.jpg" class="width-100" alt=""/>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end product video section -->
        <!-- start progress bar section -->
        <section class="wow fadeIn bg-light-gray">
            <div class="container">
                <div class="row equalize sm-equalize-auto">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 display-table wow fadeIn last-paragraph-no-margin">
                        <div class="display-table-cell vertical-align-middle padding-seventeen-right sm-no-padding-lr sm-text-center sm-padding-30px-bottom">
                            <h6 class="text-extra-dark-gray width-90 alt-font sm-width-100 margin-15px-bottom">Project skills &amp; expertise</h6>
                            <p class="width-90 margin-30px-bottom sm-width-100">We believe in Simple, Creative &amp; Flexible Design Standards. We blend brilliant design, creative strategies, innovative mindset, technology skills &amp; 24/7 customer support to create a streamlined people-first strategy that complements the brand. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 display-table sm-no-margin-bottom wow fadeIn">
                        <div class="display-table-cell vertical-align-middle">
                            <div class="skillbar-bar-main skillbar-bar-style2">
                                <!-- start progress bar item -->
                                <div class="skillbar margin-45px-bottom" data-percent="98%">
                                    <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">Jquery</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent text-small"></span>
                                </div>
                                <!-- end progress bar item -->
                                <!-- start progress bar item -->
                                <div class="skillbar margin-45px-bottom" data-percent="90%">
                                    <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">Express.js</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent text-small"></span>
                                </div>
                                <!-- end progress bar item -->
                                <!-- start progress bar item -->
                                <div class="skillbar" data-percent="92%">
                                    <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">Angular</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent text-small"></span>
                                </div>
                                <!-- end progress bar item -->      
                                <!-- start progress bar item -->
                                <div class="skillbar" data-percent="89%">
                                    <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">CouchDb</span>
                                    <p class="skillbar-bar"></p>
                                    <span class="skill-bar-percent text-small"></span>
                                </div>
                                <!-- end progress bar item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end progress bar section -->
        <!-- start parallax section -->
        <section id="home-bottom" class="parallax one-fourth-screen wow fadeIn" data-stellar-background-ratio="0.2" style="background-image:url('/images/web/SAM-ffa9f52e.png');">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </section>
        <!-- end parallax section -->
        <!-- start blockquote section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 center-col text-center">
                        <i class="fa fa-quote-left icon-small text-deep-pink display-block margin-25px-bottom"></i>
                        <h6 class="alt-font text-extra-dark-gray">This is an excellent company! I personally enjoyed the energy and the professional support the whole team gave to us into creating ERP.</h6>
                        <span class="text-uppercase text-extra-small alt-font letter-spacing-3 text-medium-gray">an2ny</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- end blockquote section -->

